body {
    background: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login {
    background: var(--glass);
    border-radius: 5vh;
    padding: 40px 50px 10px;
    box-shadow: var(--shadow);
    text-align: center;
    width: 100%;
    border: var(--border);
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    gap: 20px;
}

img {
    width: 100px;

}

.titles {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.title {
    font-weight: 700;
    color: var(--purple-light);
    font-size: var(--text26);
    white-space: nowrap;
}

.subtitle {
    color: var(--purple-light);
}

form h1 {
    color: var(--purple-light);
    padding-bottom: 15px;
    font-weight: 500;
    font-size: var(--text18);
}

.input {
    position: relative;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px 14px;
    border: none;
    border-radius: 5vh;
    font-size: var(--text18);
    font-weight: 500;
    color: var(--purple-light);
    text-align: center;
    background: var(--light);
}

@media (hover: hover) {
    input:hover {
        outline: 1px solid var(--purple-light);
    }
}

input:focus {
    outline: none;
}

label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--purple-light);
    pointer-events: none;
    transition: 0.3s ease;
    background: transparent;
}

input:focus+label,
input:not(:placeholder-shown)+label {
    top: -8px;
    left: 18px;
    transform: none;
    font-size: 13px;
    color: var(--purple-light);
    background: var(--light);
    padding: 0 5px;
    border-radius: 5vh;
}


button {
    width: 100%;
    padding: 15px 0;
    background: var(--gradient);
    color: var(--light);
    border: none;
    border-radius: 5vh;
    cursor: pointer;
    /* font-size: var(--text18); */
}

@media (hover: hover) {
    button:hover {
        background: var(--purple-light);
    }
}

.error {
    color: var(--purple-light);
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.error.show {
    opacity: 1;
}







@media (max-width: 480px) {

    body {
        background: var(--glass);
        min-height: 80vh;
    }

    .login {
        box-shadow: none;
        border: none;
        padding: 0;
    }

}