@font-face {
    font-family: "TTNorms-Regular";
    src: url(/font/TTNorms-Regular.woff2);
}

@font-face {
    font-family: "TTNorms-Bold";
    src: url(/font/TTNorms-Bold.woff2);
}

:root {
    --glass: #f2f0fa;
    --light: #f7fcfc;
    --purple-light: #9526c0;
    --purple-dark: #5a205a;
    --gradient: linear-gradient(10deg,#5a205a 0%, #9526c0 100%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "TTNorms-Regular";
    color: var(--light);
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--light);
}